/* Main CSS */
.mainContent {
  padding-top: 10rem;
  width: 100%;
  height: 85vh;
}
.name {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  height: 5rem;
}
.name:hover + #rocket {
  animation-name: launchRocket;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}
@keyframes launchRocket {
  from {top: 85vh}
  to {top: -20vh}
}
#rocket {
  position: absolute;
  top: 100vh;
  left: calc(50% - 7rem);
  width: 12rem;
  height: 14rem;
}
/* Splash */
.logo {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}
.name {
  font-size: 4rem;
  white-space: nowrap;
}
.keepclicking {
  background-color: #3b3c45;
  width: 40rem;
  height: 12rem;
  transition: background-color .4s;
  border: 0;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 3rem;
}
.keepclicking:hover {
  background-color: #33343b;
}
.keepclicking:focus {
  outline: 0;
}
.playground {
  border-right: white 4px solid;
  width: 20rem;
  display: inline-block;
}
.code {
  vertical-align: top;
  margin-left: 3.7rem;
  margin-top: 10px;
}
.minify {
  border-left: white 4px solid;
  width: 15rem;
  margin-left: 3rem;
  display: inline-block;
}
.cut {
  vertical-align: top;
  margin-top: 10px;
}
/* About */
.about {
  position: relative;
  box-shadow: 0 -1px 15px 5px hsla(0, 0%, 0%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
  height: 35vh;
  background-color: #33353d;
}
.head {
  padding: 1rem;
  text-align: center;
  display: inline-block;
  height: 10rem;
  width: 25rem;
  border-right: 4px solid white;
}
/* Mobile support */
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Support for mobile devices */
@media screen and (min-width:0px) and (max-width:1000px) {
  .mainContent {
    width: 100%!important;
  }
  svg {
    display: none;
  }
  .time {
    font-size: 4rem!important;
  }
}
