/* Main CSS */
section {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 3.2rem;
  height: 95vh;
  overflow: scroll;
  overflow-x: hidden;
}
section::-webkit-scrollbar {
  display: none;
}
svg {
  margin-top: 3.2rem;
  fill: #454752;
  stroke-width: 1;
  stroke: #454752;
  height: 95vh;
}
/* Clock */
#timeBox {
   margin-left: 1rem;
   padding: 1rem;
   font-family: 'Open Sans', sans-serif;
}
.time {
  display: inline-block;
  font-size: 8rem;
  margin: 0;
}
#date {
  font-size: 2rem;
  margin: 0;
}
/* Footer */
footer {
  background-color: black;
	display: flex!important;
  height: 20rem;
  font-family: 'Open Sans', sans-serif;
}
footer div {
  margin: 5rem 0 3rem 8rem;
  display: inline-block;
}
footer h4 {
  color: gray;
}
footer ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}
footer li {
  margin-top: 1rem;
}
footer p {
  position: absolute;
  font-size: 13px;
  bottom: -19rem;
  left: 1rem;
}
/* Mobile support */
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Support for mobile devices */
@media screen and (min-width:0px) and (max-width:1000px) {
  section {
    width: 100%!important;
    height: 80vh!important ;
  }
  svg {
    display: none;
  }
  .time {
    font-size: 6rem!important;
  }
  footer {
    float: left;
    width: 100%;
  }
  footer div {
    margin: 3rem 0 1rem 4rem!important;
  }
  footer p {
    bottom: -10rem!important;
  }
}
