/* Main CSS */
svg {
  position: relative;
  z-index: -1;
  padding-top: 49px;
  fill: #454752;
  stroke-width: 1;
  stroke: #454752;
  height: 100vh;
}
.mainContent {
  overflow: visible;
  float: left;
  padding: 6rem 0 0 2rem;
  display: inline-block;
  width: 50%;
  height: 100vh;
}
.mainContent::-webkit-scrollbar {
  display: none;
}
/* Splash */
.logo {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}
.name {
  font-size: 4rem;
  white-space: nowrap;
}
.keepclicking {
  background-color: #3b3c45;
  width: 40rem;
  height: 12rem;
  transition: background-color .4s;
  border: 0;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 3rem;
}
.keepclicking:hover {
  background-color: #33343b;
}
.keepclicking:focus {
  outline: 0;
}
.playground {
  border-right: white 4px solid;
  width: 20rem;
  display: inline-block;
}
.code {
  vertical-align: top;
  margin-left: 3.7rem;
  margin-top: 10px;
}
.minify {
  border-left: white 4px solid;
  width: 15rem;
  margin-left: 3rem;
  display: inline-block;
}
.cut {
  vertical-align: top;
  margin-top: 10px;
}
/* Clock */
#timeBox {
   margin-left: 1rem;
   padding: 1rem;
   font-family: 'Open Sans', sans-serif;
}
.time {
  display: inline-block;
  font-size: 7rem;
  margin: 0;
}
#date {
  font-size: 2rem;
  margin: 0;
}
/* About */
.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
  height: 35vh;
  background-color: #33353d;
}
.head {
  padding: 1rem;
  text-align: center;
  display: inline-block;
  width: 25rem;
  border-right: 4px solid white;
}
/* Mobile support */
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Support for mobile devices */
@media screen and (min-width:0px) and (max-width:1000px) {
  .mainContent {
    width: 100%!important;
  }
  svg {
    display: none;
  }
  .time {
    font-size: 4rem!important;
  }
}
