body {
  background-image: none!important;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes color {
  0%   {background-color: red;}
  20%  {background-color: yellow;}
  40%  {background-color: green;}
  60% {background-color: blue;}
  80% {background-color: purple;}
  100% {background-color: red;}
}
