@media screen and (min-width:0px) and (max-width:1000px) {
  #addShortcutMenu {
    width: 94%!important;
    left: 1rem!important;
    margin-left: 0px!important;
  }
}
/* Shortcuts */
section span button {
  margin: 0 0 1rem 1rem;
  width: 12rem;
  padding: 1rem;
  color: white;
  background-color: #363840;
  border: #363840 2px solid;
  border-radius: .5rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color .5s, border .5s;
}
section span button:hover {
  background-color: #3d3e47;
  border-color: #3d3e47;
}
section span button:hover .removeShortcut {
  display: inline;
}
section span button:focus {
  outline: none;
}
section span img {
  width: 3rem;
  margin-right: 1rem;
  height: 3rem;
}

/* Shortcut creation menu */
.hidden {
  opacity: 0!important;
}
.menu {
  transition: opacity .5s;
}
.lowerIndex {
  z-index: -1!important;
}
#opacityMenu {
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  opacity: .5;
  background-color: black;
  display: inline-block;
  z-index: 1;
}
#addShortcutMenu {
  display: inline-block;
  z-index: 2;
  position: absolute;
  left: calc(50% - 25rem);
  height: 27rem;
  width: 50rem;
  top: 15%;
}
#addShortcutMenu h1 {
  margin: 1rem 0 0 1rem;
}
#addShortcutMenu input {
  width: 96%;
  height: 2.5rem;
  margin-left: 1rem!important;
}
#addShortcutMenu h4 {
  margin: 2rem 0 0 1rem;
}
#addShortcutMenu button {
  float: right;
  margin: 4rem 1rem 0 0;
  padding: .5rem;
}
